@model Sany3y.Infrastructure.Models.User

@{
    ViewData["Title"] = "احجز معانا افضل الفنيين";
}


<div class="container mt-4">
    <h2 class="mb-4">الملف الشخصي</h2>
</div>


           <div class="row">
            <div class="col-md-15 col-lg-15 square-div d-flex justify-content-center align-items-center">       
             <div class="card shadow-sm">



                    <!-- صورة الفني -->
                <img src="@(Model.ProfilePicture?.Path ?? "https://placehold.co/300x200?text=No+Image")"
                         class="card-img-top"
                         style="height: 220px; object-fit: cover;"
                         onerror="this.onerror=null;this.src='https://placehold.co/300x200?text=No+Image';" />




                    <div class="card-body">

                        <!-- اسم الفني -->
                    <h5 class="card-title">@Model.FirstName @Model.LastName</h5>

                        <!-- التخصص -->
                    <p>التصنيف: @(ViewBag.UserCategory?.Name ?? "غير محدد")</p>

                        <!-- المدينة -->
                    <p>@ViewBag.UserAddress.City</p>

                    <p>@ViewBag.UserAddress.Street</p>


                        <!-- التقييم -->
                        <p class="card-text">
                            <strong>التقييم:</strong>
                        ⭐ @Model.Rating
                        </p>

                        <!-- زرار يفتح صفحة التفاصيل -->
                        <button>احجز الان </button>

                    </div>
           
                </div></div>
          </div>
    </div>
</div> 

