@model (Sany3y.Infrastructure.Models.User User, IList<string> Roles)

<div class="modal fade" id="viewUserModal" tabindex="-1" aria-labelledby="viewUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewUserModalLabel">تفاصيل @Model.User.UserName</h5>
                <button type="button" class="btn-close close-left" data-bs-dismiss="modal" aria-label="إغلاق"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 mb-3 text-center align-content-center">
                                <img src="@ViewBag.UserProfilePictureUrl"
                                     alt="User Image" class="img-thumbnail"
                                     style="height: 150px; width: 150px; border-radius: 50%" />
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-12 mb-3">
                                    <label class="form-label">الرقم القومي</label>
                                    <input type="text" value="@Model.User.NationalId" class="form-control" readonly />
                                </div>

                                <div class="col-md-12 mb-3">
                                    <label class="form-label">اسم المستخدم</label>
                                    <input type="text" value="@Model.User.UserName" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">الاسم الأول</label>
                        <input type="text" value="@Model.User.FirstName" class="form-control" readonly />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">الاسم الأخير</label>
                        <input type="text" value="@Model.User.LastName" class="form-control" readonly />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">تاريخ الميلاد</label>
                        <input type="text" value="@Model.User.BirthDate" class="form-control" readonly />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">النوع</label>
                        <input type="text" value="@(Model.User.Gender == 'M' ? "ذكر" : "أنثى")" class="form-control" readonly />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">البريد الإلكتروني</label>
                        <input type="text" value="@Model.User.Email" class="form-control" readonly />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">رقم الهاتف</label>
                        <input type="text" value="@Model.User.PhoneNumber" class="form-control" readonly />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">المحافظة</label>
                        <input type="text" value="@(ViewBag.Address?.Governorate)" class="form-control" readonly />
                    </div>
                    
                    <div class="col-md-6 mb-3">
                        <label class="form-label">المدينة</label>
                        <input type="text" value="@(ViewBag.Address?.City)" class="form-control" readonly />
                    </div>

                    <div class="col-md-12 mb-3">
                        <label class="form-label">الشارع</label>
                        <input type="text" value="@(ViewBag.Address?.Street)" class="form-control" readonly />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">الأدوار</label>
                        <input type="text" value="@string.Join(", ", Model.Roles)" class="form-control" readonly />
                    </div>

                    @{
                        if (string.Join(", ", Model.Roles) == "Technician")
                        {
                            <div class="col-md-6 mb-3">
                                <label class="form-label">التخصص</label>
                                <input type="text" value="@ViewBag.UserCategory" class="form-control" readonly />
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">عدد سنين الخبرة</label>
                                <input type="text" value="@Model.User.ExperienceYears" class="form-control" readonly />
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">سعر الخدمة</label>
                                <input type="text" value="@Model.User.Price" class="form-control" readonly />
                            </div>
                        }
                    }

                    <div class="col-md-6 mb-3">
                        <label class="form-label">الحالة الآن</label>
                        <div class="form-control bg-light">
                            <span id="userStatus_@Model.User.Id" class="fw-bold @(Model.User.IsOnline ? "text-success" : "text-secondary")">
                                @(Model.User.IsOnline ? "متصل الآن" : "غير متصل")
                            </span>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">تاريخ الإنشاء</label>
                        <input type="text" value="@Model.User.CreatedAt.ToString("yyyy/MM/dd")" class="form-control" readonly />
                    </div>

                    <div class="col-md-12 mb-3">
                        <label class="form-label">نبذة</label>
                        <textarea class="form-control" readonly>@Model.User.Bio</textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>

<style>
    .close-left {
        margin-left: 0px !important;
    }
</style>