@using Microsoft.AspNetCore.Identity
@using Sany3y.Infrastructure.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "لوحة التحكم";
    Layout = "_AdminLayout";
}

<h1>مرحبًا بعودتك مرة أخرى يا @UserManager.GetUserName(User)!</h1>

<div class="row mt-3 gy-3">
    <div class="col-md-4">
        @await Html.PartialAsync("_DashboardCard", new { Title = "المستخدمين", Number = ViewBag.TotalUsers })
    </div>
    <div class="col-md-4">
        @await Html.PartialAsync("_DashboardCard", new { Title = "الصنايعية", Number = ViewBag.TotalTaskers })
    </div>
    <div class="col-md-4">
        @await Html.PartialAsync("_DashboardCard", new { Title = "التصنيفات", Number = ViewBag.TotalCategories })
    </div>
</div>

<div class="row mt-3 gy-3">
    <div class="col-md-6">
        <div class="card dashboard-card">
            <div class="card-header d-flex justify-content-between">
                <h5 class="align-content-center mb-0">توزيع الجنس</h5>
                <button class="btn btn-sm btn-outline-secondary float-end" type="button" onclick="downloadChart(genderDistriution, 'Sany3y - Gender Distribution')">
                    <i class="fa-solid fa-download"></i>
                </button>
            </div>

            <canvas id="get-gender-distribution" class="card-body"></canvas>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card dashboard-card h-100">
            <div class="card-header d-flex justify-content-between">
                <h5 class="align-content-center mb-0">أكثر التصنيفات</h5>
            </div>

            <div class="card-body h-100" style="overflow-y: scroll;">
                @{
                    if (ViewBag.TopCategories == null)
                    {
                        <div class="align-content-center h-100">
                            <p class="text-center">لا يوجد تصنيفات.</p>
                        </div>
                    }
                    else
                    {
                        <table class="">
                            <tr>
                                <th>الاسم</th>
                                <th>عدد المهام</th>
                            </tr>
                            @{
                                foreach (var category in ViewBag.TopCategories)
                                {
                                    <tr>
                                        <td style="padding: 10px; border-bottom: 1px solid #ddd;">@category.Name</td>
                                        <td style="padding: 10px; border-bottom: 1px solid #ddd;">@category.Count</td>
                                    </tr>
                                }
                            }
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <div class="card dashboard-card">
            <div class="card-header d-flex justify-content-between">
                <h5 class="align-content-center mb-0">تسجيلات المستخدمين الشهرية في سنة @DateTime.Now.Year</h5>
                <button class="btn btn-sm btn-outline-secondary float-end" type="button" onclick="downloadChart(monthlyUsersChart, 'Sany3y - Monthly User Registrations @DateTime.Now.Year')">
                    <i class="fa-solid fa-download"></i>
                </button>
            </div>

            <canvas id="get-monthly-user-counts" class="card-body h-100"></canvas>
        </div>
    </div>
</div>

<style>
    .dashboard-card {
        transition: all 0.3s ease-in-out;
    }

        .dashboard-card:hover {
            transform: translateY(-2.5px);
        }
</style>

@section Scripts {
    <script src="~/js/charts.js"></script>
    <script>
        $(document).ready(async function () {
            monthlyUsersChart = await buildChart({
                type: 'bar',
                url: '@Url.Action("GetMonthlyUserCounts", "Admin")',
                canvasId: "get-monthly-user-counts",
                label: "المستخدمين شهريًا",
                labelProp: "month",
                dataProp: "userCount"
            });

            genderDistriution = await buildChart({
                type: 'doughnut',
                url: '@Url.Action("GetGenderDistribution", "Admin")',
                canvasId: "get-gender-distribution",
                label: "العدد",
                labelProp: "gender",
                dataProp: "count"
            });
        });
    </script>
}